body {
  font-size:x-large;
}

table.title-table td {
  font-size:x-large;
}
.container {
  position:absolute;
  display:table;
  width:100%;
  height:100%;
}
.content {
  display:table-cell;
  horiz-align: right;
}
ul {
  list-style: none;

}
ul.main-ul li {
  display: inline;
}
